@page "/ledendetail/{LedenId}"

<h1 class="page-title">Details for @Lid.Voornaam @Lid.Familienaam</h1>

<div class="col-12 row">
    <div class="col-2">
    </div>
    <div class="col-10 row">
        <div class="col-xs-12 col-sm-8">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Employee ID</label>
                <div class="col-sm-8">
                    <label type="text" class="form-control-plaintext">@Lid.LedenId</label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">First name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Lid.Voornaam</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Last name</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Lid.Familienaam</label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Birthdate</label>
                <div class="col-sm-8">
                    <label type="text" readonly class="form-control-plaintext">@Lid.Geboortedatum.ToShortDateString()</label>
                </div>
            </div>
        </div>
    </div>
</div>

